* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.accueil{
    background-image: url("../images/maxresdefault.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boite_accueil {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color:white;
    align-items: center;
}

.texte_accueil {
    font-size: 30px;
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
}

.bouton_accueil{
    background-color: rgb(0, 75, 32);
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
}

h1 {
    font-size: 50px;
    font-family: 'Lobster', cursive;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    font-family: 'Lobster', cursive;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form p {    
    font-size: 20px;
    font-family: 'Lobster', cursive;
    margin-right: 10px;
}

select {
    /* make a beatiful select */
    background-color: rgb(0, 75, 32);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.input {
    padding: 6px;
    border-radius: 20px;
    border: none;
    margin-right: 10px;
}

.fond_pendu {
    background-color: #046e38;
    text-align: center;
}

.gauche {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 100%;
}

.droite {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.titre_pendu {
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

#attention {
    margin-top: 5px;
    font-size: 15px;
    font-family: 'Lobster', cursive;
    color: red;
}

#mot_actuel {
    font-size: 30px;
    font-family: 'Lobster', cursive;
    letter-spacing: 5px;
}

#phrase_pendu {
    font-size: 20px;
    font-family: 'Lobster', cursive;
    margin-top: 10px;
}