<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <link rel="shortcut icon" href="images/potence.ico" />
        <title>Pendu</title>
    </head>
    <body class="background">
        {{if eq .Mot_actuel .Mot_a_trouver}}
            <div class="center">
                <div class="victory">
                <h1>Vous avez gagné !</h1>
                <p>Le mot était bien : {{.Mot_a_trouver}}</p>
                <button onclick="window.location.href='/'">Rejouer</button>
                </div>
            </div>
        {{else}}
            {{if gt .Essaie 0}}
                <div class="box_title">
                    <h1 class="hangman_title">Jeux du pendu</h1>
                </div>
                <div class="left">
                    <p id="acutal_word">{{.Mot_actuel}}</p>
                    <p>Les lettres déjà proposées sont : <br>
                        <span id="letter_list">{{range .Liste_lettre}}
                        {{.}}
                        {{end}}
                        </span>
                    </p>
                    <p id="hangman_sentence">{{.Phrase}}</p>
                    <form method="POST" action="/pendu">
                        <input type="text" name="lettre" placeholder="Proposez une lettre ou un mot" autofocus id="hangman_input">
                        <input type="submit" value="Valider" style="display: none;">
                    </form>
                    <p id="warning">Les mots vous retirent 2 essaies</p>
                </div>
                <div class="right">
                    {{if ne .Essaie 10}}
                        <img src="images/positions/{{.Essaie}}.svg" alt="pendu">
                    {{end}}
                </div>
            {{else}}
                <div class="center">
                <h1>Vous avez perdu !</h1>
                <p>Le mot était : {{.Mot_a_trouver}}</p>
                <button onclick="window.location.href='/'">Rejouer</button>
                </div>
            {{end}}
        {{end}}
        </div>

    </body>
</html>