<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">    
    </head>
    <body class="accueil">
        <div class="boite_principale">
        {{if .Success}} 
            {{if eq .Difficulte "facile"}}
                <h1>Bienvenue jeune joueur<br>
                Vous avez choigit psi le niveau {{.Difficulte}}</h1>
                <a href="/pendu">Jouer</a>
            {{else if eq .Difficulte "moyen"}}
                <h1>Bienvenue jeune joueur<br>
                Vous avez choisi le niveau {{.Difficulte}}</h1>
                <a href="/pendu">Jouer</a>
            {{else if eq .Difficulte "difficile"}}
                <h1>Bienvenue jeune joueur<br>
                Vous avez choisi le niveau {{.Difficulte}}</h1>
                <a href="/pendu">Jouer</a>
            {{end}}
        {{else}}
            <h1>Bienvenue sur le jeu du pendu !<br>
                Veuillez remplir les champs ci-dessous pour jouer </h1>
            <form method="POST">
                <input type="radio" id="facile" name="difficulte" value="facile">
                <label for="facile">Facile</label>
                <input type="radio" id="moyen" name="difficulte" value="moyen" checked>
                <label for="moyen">Moyen</label>
                <input type="radio" id="difficile" name="difficulte" value="difficile">
                <label for="difficile">Difficile</label>
                <input type="submit" value="Choisir">
            </form>
        {{end}}
        </div>
    </body>
</html>