* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accueil{
    background-image: url("images/maxresdefault.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.boite_principale {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color:white;
    align-items: center;
}

.titre_accueil{
    font-size: 50px;
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
}

.texte_accueil{
    font-size: 20px;
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
}

.bouton_accueil{
    background-color: rgb(0, 75, 32);
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
}

.lettres{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    background-color: black;
    color: white;
    position: relative;
    margin-top: 50px;
    margin-left: 47.5%;
}