* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
}

.accueil{
    background-image: url("../images/maxresdefault.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boite_principale {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color:white;
    align-items: center;
}

.titre{
    font-size: 50px;
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
}

.texte{
    font-size: 20px;
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
}

.bouton_accueil{
    background-color: rgb(0, 75, 32);
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
}

.page_pendu{
    background-color: aquamarine;
    text-align: left;
}

.titre{
    position: relative;
    position: top;
    position: left;
}

.mot_a_trouver{
    position: relative;
    position: left;
}

.boite_entrer_lettre{
    position: relative;
    position: bottom;
}

.pendu{
    position:relative;
    position: right;
}

.boite_entrer{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    background-color: black;
    color: white;
}

