<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" type="text/css">    
        <link rel="shortcut icon" href="images/potence.ico" />
        <title>Pendu</title>
    </head>
    <body class="background" id="index_position">
        <div class="center">
        {{if .Success}} 
            <div class="index_text">
            <h1>Bienvenue {{.Username}} !</h1>
            <form method="POST" action="/hangman" class="difficulty">
                <p>Choisissez la difficulté :</p>
                <select name="difficulty">
                    <option value="facile" selected>Facile</option>
                    <option value="moyen">Moyen</option>
                    <option value="difficile">Difficile</option>
                </select>
            </div>
                <button type="submit" autofocus>Commencer</button>
            </form>
        {{else}}
            <div class="index_text">
            <h1>Bienvenue sur le jeu du pendu !</h1>
            <form method="POST" action="/">
                <p>Pour commencer, veuillez entrez votre pseudo :</p>
                <input class="input" type="text" name="username" placeholder="Pseudo" autofocus>
            </div>
                <button type="submit">Suivant</button>
            </form>

        {{end}}
        </div>
    </body>
</html>